* {
    margin: 0;
    padding: 0;
}

svg {
    height: 100%;
}
body {
    width: 1440px;
    height: 100vh;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: url(images/bg-desktop.svg) no-repeat hsl(257, 40%, 49%);
}

header {
    padding-top: 60px;
}

header img {
    margin-left: 70px;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

button {
    width: 150px;
    height: 40px;
    background: #fff;
    color: hsl(257, 40%, 49%);
    border-radius: 70px;
    border: none;
    box-shadow: 1px 1px 10px black;
}

button:hover {
    background: hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
}

a {
    text-decoration: none;
    padding-left: 5px;
}

i {
    color: #fff;
    font-size: 20px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px;
}

i:hover {
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
}

.principal-img {
    margin: 50px;
}

.principal-img img{
    width: 90%;
}

.principal-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin-top: 90px;
    color: #fff;
}

.principal-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-right: 100px;
}

.principal-text p {
    color: hsl(0, 0%, 100%, 90%);
    padding: 20px 40px 16px 0;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 105px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: flex;
    justify-content: center;
}

.attribution a { 
    color: #fff; 
}

.attribution a:hover {
    color: hsl(300, 69%, 71%);
}

@media screen and (min-width: 375px) and (max-width: 425px){

	body {
        background: url(images/bg-mobile.svg) no-repeat hsl(257, 40%, 49%);
        background-size: 100%;
		width: 375px;
	    height: 100vh;
        margin: auto;
    }

    header {
        padding-top: 30px;
    }

    header img{
        width: 30%;
        margin-left: 60px;
    }

    .principal {
        flex-direction: column;
        text-align: center; 
    }

    .principal-text {
        width: auto;
        text-align: center;
        margin-top: 60px;
    }

    .principal-text h1 {
        padding: 0 50px 0 50px;
        font-size: 23px;
    }
    
    .principal-text p {
        text-align: center;
        font-size: 15px;
        padding: 20px 45px 0 45px;
        line-height: 25px;
    }

    button {
        width: 200px;
        height: 40px;
        margin: 20px auto 100px auto ;
        align-items: center;
    }

    .social {
        margin: auto;
    }

    i {
        font-size: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1365px){
	body {
        background: url(images/bg-mobile.svg) no-repeat hsl(257, 40%, 49%);
        background-size: 100%;
        width: 768px;
		height: 100vh;
    }

    .principal {
        flex-direction: column;
        text-align: center;
    }

    .principal-text {
        width: auto;
        text-align: center;
        margin-top: 60px;
    }

    .principal-text h1 {
        padding: 0 50px 0 50px;
        font-size: 50px;
    }
    
    .principal-text p {
        text-align: center;
        font-size: 32px;
        padding: 20px 80px 0 80px;
        line-height: 50px;
    }

    button {
        width: 330px;
        height: 77px;
        margin: 35px auto 100px auto ;
        align-items: center;
        font-size: 28px;
    }

    .social {
        margin: auto auto 20px auto;
    }

    i {
        font-size: 30px;
    }

    .attribution {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
	body {
        width: 1024px;
		height: 100vh;
    }

    .principal-text h1 {
        padding: 0 50px 0 50px;
        font-size: 70px;
    }
    
    .principal-text p {
        text-align: center;
        font-size: 42px;
        padding: 20px 110px 0 110px;
        line-height: 65px;
    }

}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
	body {
		width: 1366px;
		height: 100vh;
	}
}

@media screen and (min-width: 1440) and (max-width: 1920px){
    
    body {
		width: 1440px;
		height: 900px;
	}
}

@media screen and (min-width: 1920px) {
	body {
		width: 1920px;
		height: 100vh;
	}
	
}
